coverage
github
__test__
.eslintrc
eslint.config.mjs
.gitignore
.nvmrc
jest.config.js
tsconfig.json
dev-build

.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
