__test__/
.github/
.parcel-cache/
coverage/
example/
src/

.gitignore
.parcelrc
eslint.config.mjs
jest.config.js
package-lock.json
tsconfig.json

.eslintrc
.nvmrc
dev-build
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
